@import url("https://fonts.googleapis.com/css?family=Noto+Serif+TC&amp;display=swap");

body {
  font-family: 'Roboto', sans-serif;
  background-color: #f8fafb; 
}

p {
  color: black;
  font-weight: 300; 
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: "Roboto", sans-serif; 
}

a {
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease; }
  a:hover {
    text-decoration: none !important; 
  }

.content {
  padding: 7rem 0; 
}

h2 {
  font-size: 20px; }

@media (max-width: 992px) {
  .content .bg {
    height: 500px; } 
}

.content .contents, .content .bg {
  width: 50%; 
}
@media (max-width: 992px) {
  .content .contents, .content .bg {
    width: 100%; 
    border:5px solid;
  } 
}
.content .contents .form-group, .content .bg .form-group {
  overflow: hidden;
  margin-bottom: 0;
  padding: 15px 15px;
  border-bottom: none;
  position: relative;
  background: #edf2f5;
  border-bottom: 1px solid #e6edf1; }
.content .contents .form-group label, .content .bg .form-group label {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease; 
}
.content .contents .form-group input, .content .bg .form-group input {
  background: transparent; 
}
.content .contents .form-group.first, .content .bg .form-group.first {
  border-top-left-radius: 7px;
  border-top-right-radius: 7px; 
}
.content .contents .form-group.last, .content .bg .form-group.last {
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px; 
}
.content .contents .form-group label, .content .bg .form-group label {
  font-size: 12px;
  display: block;
  margin-bottom: 0;
  color: rgba(255, 255, 255, 0); 
}
.content .contents .form-group.focus, .content .bg .form-group.focus {
  background: #fff;
  color:#fff; 
}
  .content .contents .form-group.field--not-empty label, .content .bg .form-group.field--not-empty label {
    margin-top: -20px; 
  }
.content .contents .form-control, .content .bg .form-control {
  border: none;
  padding: 1rem 1rem 0 1rem;
  font-size: 1rem;
  border-radius: 0;
}
  .content .contents .form-control:active, .content .contents .form-control:focus, .content .bg .form-control:active, .content .bg .form-control:focus {
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none; 
  }

.content .bg {
  background-size: cover;
  background-position: center; }

.content a {
  color: #888;
  text-decoration: underline; }

.content .btn {
  background-color: #ab8d50;
  border-color: #ab8d50;
  height: 54px;
  padding-left: 30px;
  padding-right: 30px; }

.content .forgot-pass {
  color: #eee;
  font-size: 16px; 
  font-weight: bold;
  text-decoration:  none;
}

.social-login a {
  text-decoration: none;
  position: relative;
  text-align: center;
  color: #fff;
  margin-bottom: 10px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: inline-block; }
  .social-login a span {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }
  .social-login a:hover {
    color: #fff; }
  .social-login a.google {
    background: #ea4335; }
    .social-login a.google:hover {
      background: #e82e1e; }

.control {
  display: block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 15px;
  cursor: pointer;
  font-size: 14px; 
}
  .control .caption {
    position: relative;
    top: .2rem;
    color: #888; 
  }

.control input {
  position: absolute;
  z-index: -1;
  opacity: 0; 
}

.control__indicator {
  position: absolute;
  top: 2px;
  left: 0;
  height: 20px;
  width: 20px;
  background: #e6e6e6;
  border-radius: 4px;
 }

.control--radio .control__indicator {
  border-radius: 50%; 
}

.control:hover input ~ .control__indicator,
.control input:focus ~ .control__indicator {
  background: #ccc; 
}

.control input:checked ~ .control__indicator {
  background: #ab8d50; 
}

.control:hover input:not([disabled]):checked ~ .control__indicator,
.control input:checked:focus ~ .control__indicator {
  background: #ab8d50; 
}

.control input:disabled ~ .control__indicator {
  background: #e6e6e6;
  opacity: 0.9;
  pointer-events: none; 
}

.control__indicator:after {
  font-family: 'icomoon';
  content: '\e5ca';
  position: absolute;
  display: none;
  font-size: 16px;
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease; 
}

.control input:checked ~ .control__indicator:after {
  display: block;
  color: #fff; 
}

.control--checkbox .control__indicator:after {
  top: 50%;
  left: 50%;
  margin-top: -1px;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); 
}

.control--checkbox input:disabled ~ .control__indicator:after {
  border-color: #7b7b7b; 
}

.control--checkbox input:disabled:checked ~ .control__indicator {
  background-color: #7e0cf5;
  opacity: .2; 
} 

.bg-clr{
      background-color: #ad8b44;       
  }
.navbar-brand{
    text-decoration:  none;
    color:#855f35;
    font-size: 1rem;
    font-weight: 700;
    cursor:pointer;
}
.navbar-brand:hover{
  color:white
}
.bg-clr .navbar-nav .nav-link {
    text-decoration:  none;
    color:#c6b79b;
    font-size: 1rem;
    font-weight: 700;
    cursor:pointer;
}


.bg-clr .navbar-brand,
.bg-clr .navbar-text {
    text-decoration:none;
    font-size: 1.5rem;
    font-weight: 700;
    color:#855f35;
    cursor:pointer;
}


.bg-clr .nav-item.active .nav-link,
.bg-clr .nav-item .nav-link:hover {
    text-decoration:  none;
    color:white;
    font-size: 1rem;
    font-weight: 700;
    cursor:pointer;
}

.bg-clr .dropdown-menu{
    background-color: #b0986a;
}


.bg-clr .dropdown-item{
    color:#855f35;
}


.bg-clr .dropdown-item:hover{
    background-color:white;
}
.content{
  height: 100%;
  background-size: 100% 100%;
  /* background-color: #ceaa8b; */
  border-radius: 1rem;
}
/* .container.custom-container-width {
    width: 1630px;       
} */
.container .img-logo{   
  max-width: 100%;
  height: auto;
  right:10%;
  top:10%
}
.contact{
  background-color: white;
  color:black;
  font-size: 1rem;
  font-weight:500;
}
.slider_container {
  margin: 30px auto;
  width: 100px;
  height: 100px;
  position: relative;
  border: 20px solid;
  border-color: #fff;
  border-bottom-width: 100px;
  background-color: #f5f5f5;
  box-shadow: #666 0 0 5px;
  box-sizing: content-box;
}
.slider_container div {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-animation: round 25s linear infinite;
  animation: round 25s linear infinite;
}
.slider_container div img {
  width: 100%;
  height: auto;
  display: block;
}
@-webkit-keyframes round {
  4% {
    opacity: 1;
    filter: alpha(opacity=100);
    /* 0 - 1秒 淡入*/
  }
  20% {
    opacity: 1;
    filter: alpha(opacity=100);
    /* 1- 5秒靜止*/
  }
  24% {
    opacity: 0;
    filter: alpha(opacity=0);
    /* 5-6秒淡出*/
  }
}
@keyframes round {
  4% {
    opacity: 1;
    filter: alpha(opacity=100);
    /* 0 - 1秒 淡入*/
  }
  20% {
    opacity: 1;
    filter: alpha(opacity=100);
    /* 1- 5秒靜止*/
  }
  24% {
    opacity: 0;
    filter: alpha(opacity=0);
    /* 5-6秒淡出*/
  }
}
.slider_container div:nth-child(5) {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}
.slider_container div:nth-child(4) {
  -webkit-animation-delay: 5s;
  animation-delay: 5s;
}
.slider_container div:nth-child(3) {
  -webkit-animation-delay: 10s;
  animation-delay: 10s;
}
.slider_container div:nth-child(2) {
  -webkit-animation-delay: 15s;
  animation-delay: 15s;
}
.slider_container div:nth-child(1) {
  -webkit-animation-delay: 20s;
  animation-delay: 20s;
}
.slider_container span {
  color: #000;
  background: #e8dd97;
  opacity: 0.5;
  position: absolute;
  left: 0%;
  top: 280px;
  width: 400px;
  height: 100px;
  font-size: 30px;
  text-align: center;
  line-height: 100px;
  -webkit-transform: scaleY(0);
  -ms-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.slider_container:hover span {
  width: 100%;
  -webkit-transform: scaleY(1);
  -ms-transform: scaleY(1);
  transform: scaleY(1);
}
.slider_container:hover div {
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
}
.rwd_slider_container_wrapper {
  width: 100%;
  max-height: 1%;
  box-sizing: border-box;
  padding: 100px;
  margin: 0 auto;
  color:black;
  background-color: rgba(0, 0, 0, 0.2);
}
.rwd_slider_container {
  position: relative;
  display: block;
  height: 0;
  padding: 0;
  box-sizing: border-box;
  padding-bottom: calc(70%);
}
.rwd_slider_container .slider_container {
  box-shadow: none;
  margin: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  box-sizing: border-box;
  border: none;
  background-color: transparent;
}
.rwd_slider_container .slider_container div {
  width: 100%;
  line-height: 0;
}
.rwd_slider_container .slider_container span {
  top: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

@media (max-width:576px) {
  .content{
    border-radius: 0rem;
  }
}